/************************************************

Stylesheet: Global Stylesheet

*************************************************/


/*********************
TYPOGRAPHY & GLOBAL STYLES
*********************/

h1, .h1 {
	font-family: 'justus-pro';
	font-weight: 400;
	// letter-spacing: 2px;
	span {
		font-family: 'jaf-bernina-sans';
		font-weight: 700;
		text-transform: uppercase;
		font-size: 120%;
		line-height: 1;
	}
}

h2, .h2 {
	font-family: 'justus-pro';
	font-weight: 400;
}

h3, .h3 {
	font-weight: 700;
	text-transform: uppercase;
	color: $alert-color;
}

h4, .h4 {
	font-family:'justus-pro';
	font-weight: 400;
}

h5, .h5 {
	font-weight: 700;
	text-transform: uppercase;
}

h6, .h6 {
	font-weight: 700;
	text-transform: uppercase;
}

.lead {
	font-family: 'justus-pro';
	color: $dark-gray;
}

.button, button, a.button {
	text-transform: uppercase;
	font-weight: 700;
	color: $white;
}

.button.alert {
	color: $white;
	&:hover {
		color: $white;
	}
}

// navigation menu

#pre-top-bar {
	background-color: $primary-color;
	color: $white;
	font-weight: 700;
	padding: 0 0 0 1rem;
	a {
		color: $white;
	}
	span {
		font-weight: 400;
		font-family: 'justus-pro';
	}
	.button {
		margin-bottom: 0;
	}
}

img.logo {
	width: 250px;
}

ul.submenu {
	li {
		a {
			font-size: 14px;
			font-style: italic;
		}
	}
}
.menu .active {
	a {
		// border-bottom: 2px solid $success-color; 
	}
}

// off-canvas menu navigation

.off-canvas {
	ul {
		li {
			a {
				color: $white;
				font-size: 18px;
			}
			ul.submenu {
				margin-left: 1.5rem;
			}
		}
	}
}

// page headers 
.page-header {
	background-color: $secondary-color;
	background: url('../images/DDF_homepage-slider@2x_1.jpg');
	padding: 0 0 2rem 1.5rem;
	margin-bottom: 4rem;
	color: $white;
	hr.yellow-hr-sm {
		max-width: 20rem;
	    margin-top: 0;
	    border-bottom: .65rem solid $warning-color;
	}
}

// post headers
.post-title {
	font-size: 4rem;
}

// pre-footer-cta // visible on full-width template

.pre-footer-cta {
	background-color: $success-color;
	background: url('../images/DDF_homepage-slider_3@2x.jpg');
	padding: 2rem 0 2rem;
	margin-top: 3rem;
	color: $white;
	hr.yellow-hr-sm {
		max-width: 20rem;
	    margin-top: 0;
	    border-bottom: .65rem solid $warning-color;
	}
	.button {
		margin-top: 2rem;
	}
}

//mobile navigation
.top-bar {
	.top-bar-left, .top-bar-right {
		width: auto;
		flex: none;
	}
	.menu-icon {
		background-color: $medium-gray;
		height: 15px;
		&:hover {
			background-color: $dark-gray;
		}
		&:after {
			box-shadow: 0 5px 0 $white,0 10px 0 $white;
		}
		&:hover::after {
			background: $white;
			box-shadow: 0 5px 0 $white,0 10px 0 $white;
		}
	}
	[type="button"] {
		border-radius: 0;
	}
}
/*********************
PAGE STYLES
*********************/

// homepage
.dd-mission {
	margin-bottom: 4rem;

	img {
		max-height: 50px;
		margin-bottom: 2rem;
	}
	.cell {
		padding: 2rem;
	}
}

// slider
.fullscreen-image-slider {
  margin-bottom: 4rem;

  .orbit-image {
    width: 100%;
    height: auto;
  }

  .orbit-caption {
    bottom: 50%;
    transform: translateY(50%);
    background: none;
    text-align: center;
    color: $white;
    font-weight: bold;
  }
}

// content
.home-content {
	background-color: $secondary-color;
	padding: 0 0 3rem;
	color: $white;
	hr.yellow-hr {
		max-width: 20rem;
	    margin-top: 0;
	    border-bottom: .65rem solid $warning-color;
	}
	h2 {
		margin-bottom: 4rem;
		text-transform: uppercase;
		letter-spacing: .2rem;
	}
	h3 {
		color: $white;
	}
}

.page-content {
	margin-bottom: 3rem;
}

.fw-page-content {
	margin-bottom: 0;
}

// about us 

section.team {
	margin: 2rem 0;
}

section.leadership {
	margin: 2rem 0;
	h5 {
		color: $success-color;
	}
	.advisory-board {
		margin-top: 2rem;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}


.article-header {
	//on archive page 
	h2 { 
		font-size: 2rem;
	}
}
// Post meta  
.archive-byline {
	color: $secondary-color;
	font-style: italic;
	a {
		color: $secondary-color;
	}
}

.byline {
	color: $white;
	time {}
	a {
		color: $white;
	}
}


// Entry content  
section.post-thumbnail {
	margin-bottom: 2rem;
}

.entry-content {
	margin-bottom: 3rem;

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px; 
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table; 
}
.gallery::after {
	clear: both; 
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem; 
}
.gallery dl:last-child:not(:first-child) {
  float: right; 
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	margin-bottom: 3rem;
	ul {
		margin: 0;
	}
	i {
		color: $medium-gray;
		margin-right: .5rem;
	}
	
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	// margin-top: 1em;
	background-color: $black;
	color: $medium-gray;
	font-family: 'justus-pro';
	padding-top: 3rem;
	h5 {
		color: $secondary-color;
	}
	.social-links {
		a > i {
			color: $secondary-color;
			margin-right: 1rem;
			font-size: 20px;
		}
	}
	.inner-footer {
		margin-bottom: 2rem;
		a {
			color: $medium-gray;
		}
		i.fa-chevron-right {
			font-size: 12px;
			margin-left: .5rem;
		}
		i.fa-phone, i.fa-envelope {
			margin-right: .5rem;
			color: $dark-gray;
		}
	}
	.bottom-footer {
		font-color: $dark-gray;
		font-style: italic;
	}
}
	
/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Tribe Events Calendar 
.tribe-events-list .tribe-events-loop .tribe-event-featured {
	background-color: $secondary-color;
}

.tribe-events-single-event-title {
	font-family:'jaf-bernina-sans';
	font-weight: 700;
	text-transform: uppercase;
	color: $alert-color;
}

.tribe-events-schedule {
	font-weight: 400;
	font-style: italic;
	color: $medium-gray;
}

.tribe-events-list .tribe-events-loop .tribe-events-event-image {
	width: 100%;
}

.tribe-events-list-widget .tribe-events-list-widget-events {
	padding: 0;
}

h4.tribe-event-title {
	font-size: 1.23rem;
}